.arrow{
    @apply bg-[#F2F2F2] px-3 py-2 rounded-2xl w-fit cursor-pointer;
    grid-column: 1/5;
    grid-row-start: 1;
}

.title{
    @apply text-default font-semibold text-2xl justify-self-center;
    grid-column-start: 3;
    grid-row-start: 1;
}

.header{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 35px;
}

.img{
    @apply w-[860px] h-[505px];
}