.infoCont {
    @apply gap-[30px] flex xl:flex-col;
}

.infoEl {
    @apply gap-y-[20px] max-w-[635px] flex flex-col text-default xl:max-w-full;

    h1 {
        @apply text-[18px] leading-[25px] font-bold uppercase lg:text-sm;
    }

    p {
        @apply text-[20px] leading-[27px] font-normal lg:text-base;
    }
}

.image {
    box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 42.5px;
    width: 60px;
    height: 60px;
}
